@charset "utf-8";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

:root {
    --color-primary: #ed4b1b;
    --color-secondary: #ff9a3c;
    --color-black: #000;
    --color-white: #fff;

}


nav ul{
    display: flex;
    gap: 30px;
    font-size: 18px;
    list-style: none;
    
}

nav a {
    color: var(--color-white);
    font-weight: 500;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    align-items: center;
    text-align: center;
    gap: 10rem;
}

body {
    background: var(--color-secondary);

}

main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login a{
    width: 100%;
    margin-top: 2rem;
    border: none;
    background-color: var(--color-white);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.login span{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-primary);
}




.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);


}

.form-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    padding: 1rem;

}

.form-img img {
    width: 31rem;

}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    background-color: var(--color-white);
}

.form-header {
    display: flex;
    justify-content: space-between;
}


.login-button {
    display: flex;
    align-items: center;
}

.login-button input {
    border: none;
    background-color: var(--color-primary);
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button input:hover {
    background-color: var(--color-primary);
}

.login-button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: var(--color-primary);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;

}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;

}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.06rem;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid var(--color-primary);
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #00000060;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-left: 0.62rem;
    padding: 0 0.5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}


.continue-button input {
    width: 100%;
    margin-top: 2rem;
    border: none;
    background-color: var(--color-primary);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;

}

.continue-button input::hover {
    background-color: var(--color-secondary);
}


.continue-button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #FFF;
}